


<h2><%= @question.content %></h2>
<% answer_v = "" %>
<% counter = 1 %>

<% while counter < 4 %>
  <% @question.answer.each do |answer| %>
    <% answer_v = answer.content %> </p>
      <%= check_box_tag(:question) %>
        <%= label_tag(:question, "#{answer_v}") %>
          <% counter += 1 %>
  <% end %>
<% end %>


<%= simple_form_for [@user, @user_answer] do |f| %>
  <%= f.input :answer_id %>
  <%= f.submit "Submit answer", class: "btn btn-primary" %>
<% end %>
