<h1>Who likes endless rain</h1>

<div class="grid-2-col">
  <div class="answer-photo">
    <%= cl_image_tag current_user.photo.key, class:"avatar-fake", alt:"Avatar-img" %>
  </div>
  <div class="answer-photo">
    <%= cl_image_tag current_user.photo.key, class:"avatar-fake", alt:"Avatar-img" %>
  </div>
  <div class="answer-photo">
    <%= cl_image_tag current_user.photo.key, class:"avatar-fake", alt:"Avatar-img" %>
  </div>
  <div class="answer-photo">
    <%= cl_image_tag current_user.photo.key, class:"avatar-fake", alt:"Avatar-img" %>
  </div>
  <div class="answer-photo">
    <%= cl_image_tag current_user.photo.key, class:"avatar-fake", alt:"Avatar-img" %>
  </div>
  <div class="answer-photo">
    <%= cl_image_tag current_user.photo.key, class:"avatar-fake", alt:"Avatar-img" %>
  </div>
</div>
