<div data-controller="change-page"
  data-change-page-questions-array-value="<%=@array_of_urls%>"
  data-change-page-final-url-second-value="<%= room_ranking_room_path %>">

  <div class="transition transition-1" data-change-page-target="elementLeft"></div>

  <h2 class="ff-title-round-2 mt-5 mx-3" data-change-page-target="title">Whose <%= @room_question.question.key_words %> <%= @right_answer.first.plural ? "are" : "is"%> <%= @right_answer.first.content.downcase %>?</h2>

  <%= render "shared/timer_navbar" %>

  <%# Hidden container for displaying the user with the right answer through JS%>
  <div class="ff-container hidden" data-change-page-target="divHidden">
    <div class="ff-grid-round-2">
      <% @users_with_right_answer.each do |user|%>
        <div class="right-answer-wrapper">
          <div class="right-answer-text">
            <p><span class="icon">&#10003;</span><%= user.username %></p>
          </div>
          <%= cl_image_tag(user.photo.key, :aspect_ratio=>"1.0", :height=>300, :width=>300, crop: "fill", gravity: "faces", class: "right-answer") %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="ff-container" data-change-page-target="divToHide">
    <div data-controller="add-username"
        data-add-username-usernames-value="<%=@user_as_answers_usernames%>">
      <%= simple_form_for [@room, @room_question] do |f| %>
        <%= f.association :answers,
            as: :check_boxes,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'ff-grid-round-2',
            item_wrapper_tag: :div,
            item_wrapper_class: "image-select",
            collection: @user_as_answers,
            legend_tag: false,
            input_html: { class: "checkbox-second", multiple: true, checked: false, data: { add_username_target: "photo" } },
            label_method: lambda { |user| cl_image_tag(user.photo.key, :aspect_ratio=>"1.0", :height=>300, :width=>300, crop: "fill", gravity: "faces").html_safe },
            value_method: :id %>
        <%= f.button :submit, class: 'white display-none', remote: true, data: { change_page_target: "button", round: 2 } %>
      <% end %>
    </div>
</div>