<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>




<div class="ff-container" data-controller="transition">
  <div class="transition transition-2" data-transition-target="element"></div>
  <h2 class="devise-header">Welcome</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Login", class: "ff-button-text-white" %>
    </div>
  <% end %>

  <div class="flex-back-link">
    <%= link_to '<< BACK', root_path, data: { action: "click->transition#pressLink" } %>
  </div>

  <%= render "devise/shared/links" %>
</div>
