<h2><%= @room_question.question.content %></h2>

<%= simple_form_for @room_question.room do |f| %>
  <%= f.association :answer, collection: @room_question.room.questions, label_method: :content, as: :radio_buttons, input_html: { class: 'checkbox-style'} %>
  <%= f.button :submit, class: 'white' %>
<% end %>

<%= render "shared/second_round" %>
