<% if @room_question.question.round == 1  %>
     <div data-controller="change-page" data-change-page-question-count-value="<%=@array_of_urls%>" data-change-page-url-value="<%= room_creating_round_path%>">
        <div class="timer-navbar">
            <div class="timer"><p data-controller="change-number" data-change-number-target="number">10</p>
            </div>
        </div>
        <div class="ff-container">
            <h2 class="ff-title-round-2"><%= @room_question.question.content %></h2>
            <div class="ff-flex-round-1">
                <div class="ranking-card">
                <%= link_to enter_room_path, class: "button-round-1" do %>
                <p><%= @room_question.question.answers[0].content %></p>
                <% end %>
                <div class="ranking-card">
                <%= link_to enter_room_path, class: "button-round-1" do %>
                <p><%= @room_question.question.answers[1].content %></p>
                <% end %>
                <div class="ranking-card">
                <%= link_to enter_room_path, class: "button-round-1" do %>
                <p><%= @room_question.question.answers[2].content %></p>
                <% end %>
                <div class="ranking-card">
                <%= link_to enter_room_path, class: "button-round-1" do %>
                <p><%= @room_question.question.answers[3].content %></p>
                <% end %>
                
                <%= simple_form_for [@room, @room_question] do |f| %>
                <%= f.association :answers, collection: @room_question.question.answers, label_method: :content, as: :check_boxes, checked: false, as: :radio_buttons, input_html: { class: 'checkbox-style'} %>
                <%= f.button :submit, class: 'white' %>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

<% if @room_question.question.round == 2  %>
    <div data-controller="change-page-second" data-change-page-second-question-count-value="<%=@array_of_urls%>" data-change-page-second-url-value="<%= room_ranking_room_path %>">
        <div class="timer-navbar">
            <div class="timer"><p data-controller="change-number" data-change-number-target="number">10</p>
            </div>
        </div>
        <div class="ff-container">
            <h2 class="ff-title-round-2"><%= @room_question.question.content %></h2>
            <div class="ff-grid-round-2">
                <div class="card-round-2">
                    <%= cl_image_tag @users[0].photo.key, crop: "fill", gravity: "faces", class:"ranking-avatar", alt:"player-img" %>
                    <p class="ff-ranking-card-name"><%= @users[0].username %></p>
                </div>
                <div class="card-round-2">
                    <%= cl_image_tag @users[1].photo.key, crop: "fill", gravity: "faces", class:"ranking-avatar", alt:"player-img" %>
                    <p class="ff-ranking-card-name"><%= @users[1].username %></p>
                </div>
                <div class="card-round-2">
                    <%= cl_image_tag @users[2].photo.key, crop: "fill", gravity: "faces", class:"ranking-avatar", alt:"player-img" %>
                    <p class="ff-ranking-card-name"><%= @users[2].username %></p>
                </div>
                <div class="card-round-2">
                    <%= cl_image_tag @users[3].photo.key, crop: "fill", gravity: "faces", class:"ranking-avatar", alt:"player-img" %>
                    <p class="ff-ranking-card-name"><%= @users[3].username %></p>
                </div>
                <div class="card-round-2">
                    <%= cl_image_tag @users[4].photo.key, crop: "fill", gravity: "faces", class:"ranking-avatar", alt:"player-img" %>
                    <p class="ff-ranking-card-name"><%= @users[4].username %></p>
                </div>
                <div class="card-round-2">
                    <%= cl_image_tag @users[5].photo.key, crop: "fill", gravity: "faces", class:"ranking-avatar", alt:"player-img" %>
                    <p class="ff-ranking-card-name"><%= @users[5].username %></p>
                </div>

            </div>

              <%= simple_form_for [@room, @room_question] do |f| %>
                <%= f.association :answers, collection: @room.users, label_method: lambda { |user| "#{user.photo.key}" }, as: :check_boxes, checked: false %>
                <%= f.button :submit, class: 'white' %>
                <% end %>

        </div>
    </div>
<% end %>

