<h2><%= @room_question.question.content %></h2>

<%= simple_form_for [@room, @room_question] do |f| %>
  <%= f.association :questions, collection: @room_question.room.questions, label_method: :content, as: :radio_buttons, input_html: { class: 'checkbox-style'} %>
  <%= f.button :submit, class: 'white' %>
<% end %>

<%= render "shared/second_round" %>z
